<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>

    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/about.css">
</head>

<body>
    <% include partials/navbar.ejs %>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ratione sit placeat quo facilis modi eaque
        adipisci, amet doloribus aut possimus quas, dolorum inventore suscipit magnam maiores quasi libero architecto.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati consectetur id necessitatibus consequatur aut.
        Quasi quisquam autem, eveniet nam, quod quos dolorem quo sequi molestiae aliquam deleniti totam beatae?
        Corrupti?</p>

    <!-- Developers Grid -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 p-8">
                <div class="card">
                    <img src="http://www.eyebridge.in/blog/wp-content/uploads/2017/03/virat-on-pitch.jpg"
                        class="card-img-top round" alt="...">
                    <div class="card-body">
                        <p class="card-text">Virat Kohli</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-8">
                <div class="card">
                    <img src="http://www.eyebridge.in/blog/wp-content/uploads/2017/03/virat-on-pitch.jpg"
                        class="card-img-top round" alt="...">
                    <div class="card-body">
                        <p class="card-text">Virat Kohli</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-8">
                <div class="card">
                    <img src="http://www.eyebridge.in/blog/wp-content/uploads/2017/03/virat-on-pitch.jpg"
                        class="card-img-top round" alt="...">
                    <div class="card-body">
                        <p class="card-text">Virat Kohli</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>