<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/home.css">
    <script src="public/js/jquery-3.4.1.min.js"></script>
</head>

<body>
    <% include partials/navbar %>

    <div class="ParallaxVideo">
        <video autoplay muted id="vid">
            <source src="public/images/Humans Are Amazing Sports.mp4" type="video/mp4">
        </video>
    </div>

    <!-- Grid of players -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div id="videosList">

                    <div class="video">
                        <video class="thevideo" loop preload="none">
                            <source src="public/images/Adele-Hello.mp4" type="video/mp4">
                            <source src="https://giant.gfycat.com/VerifiableTerrificHind.webm" type="video/webm">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="http://www.eyebridge.in/blog/wp-content/uploads/2017/03/virat-on-pitch.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Virat Kohli</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="http://www.eyebridge.in/blog/wp-content/uploads/2017/03/virat-on-pitch.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Virat Kohli</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="http://www.eyebridge.in/blog/wp-content/uploads/2017/03/virat-on-pitch.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Virat Kohli</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="http://www.eyebridge.in/blog/wp-content/uploads/2017/03/virat-on-pitch.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Virat Kohli</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="http://www.eyebridge.in/blog/wp-content/uploads/2017/03/virat-on-pitch.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Virat Kohli</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="http://www.eyebridge.in/blog/wp-content/uploads/2017/03/virat-on-pitch.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Virat Kohli</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="http://www.eyebridge.in/blog/wp-content/uploads/2017/03/virat-on-pitch.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Virat Kohli</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="http://www.eyebridge.in/blog/wp-content/uploads/2017/03/virat-on-pitch.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Virat Kohli</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- javascript -->
    <script src="public/js/home.js"></script>
</body>

</html>